#page-header
{
	background-color: #333333;
	color: #fefefe;
}

body{
	margin: 0px;
}

#banner{
	height: 400px;
	background-image: url(../photos/hero_2.jpg);
	background-size: 100%;
}

#banner .banner-pix{
	width: 100%;
}

#stat-bar
{
	background-color: #222;
	color: whitesmoke;
}

.stat-box .num-bold{
	font-family: cursive;
	font-size: 24px;
}